<!DOCTYPE html>
<html>
<head>
  <title>Face Attendance System</title>
  <style>
    body {
      background: #000;
      color: #0f0;
      text-align: center;
      font-family: Arial;
    }
    img {
      border: 2px solid #0f0;
      margin-top: 20px;
    }
  </style>
</head>
<body>

<h1>📸 HỆ THỐNG ĐIỂM DANH KHUÔN MẶT</h1>
<p>Camera ESP32-CAM</p>

<img src="/video" width="640">

<p>🟢 Màu xanh: Đã nhận diện</p>
<p>🔴 Màu đỏ: Unknown</p>

<br><br>
<a href="/login" style="color: cyan;">🔐 Admin login</a>

</body>
</html>
